<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease</title>
</head>
<body>
    <body>
    <h2>Enter Patient Clinical Data</h2>
    <form method="POST" action="/predict">
        <input type="text" name="age" placeholder="Age"><br>
        <input type="text" name="anaemia" placeholder="Anaemia (0/1)"><br>
        <input type="text" name="creatinine_phosphokinase" placeholder="CPK Level"><br>
        <input type="text" name="diabetes" placeholder="Diabetes (0/1)"><br>
        <input type="text" name="ejection_fraction" placeholder="Ejection Fraction"><br>
        <input type="text" name="high_blood_pressure" placeholder="High BP (0/1)"><br>
        <input type="text" name="platelets" placeholder="Platelets"><br>
        <input type="text" name="serum_creatinine" placeholder="Serum Creatinine"><br>
        <input type="text" name="serum_sodium" placeholder="Serum Sodium"><br>
        <input type="text" name="sex" placeholder="Sex (1=Male, 0=Female)"><br>
        <input type="text" name="smoking" placeholder="Smoking (0/1)"><br>
        <input type="text" name="time" placeholder="Follow-up Time (days)"><br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</body>
</html>